*
!*/

########################
# Archivos que NO ignora

!LICENSE
!license

## Latex
!*.tex
*-concordance.tex
!*.bib
!*.bst
!*.sty
!*.cls

## Codigo
!*.jl
!*.py
!*.R
!*.c
!*.sql

## Texto
!*.md
!*.txt
!*.sh

## Otros
!makefile
!Makefile
!.keep
!.gitignore
